/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1737px) {
 /*body{min-width: 1620px;}*/
 	/*----  header  ----*/
	 	header{width: 100%;}
	 	.search_block{width: 59%;}
	 	.autorization_block{width: 13%;}

	 	/*---*/
	 	.header_search2_block{top: -400px;}


	/*----  content  ----*/
	 	#content{
	 		width: 100%;
	 	}

 	/*-----  footer  ----*/
	 	.header_box,
	 	.footer_box{
	 		width: calc(100% - 50px);
	 		box-sizing: border-box;
	 		margin: 0 auto;
	 		padding-left: 0;
	 		padding-right: 0;
	 	}
	 		.footer_list{width: 130px;}
	 		.social_box a{
	 			width: 30px;
	 			height: 30px;
	 		}

}

@media only screen and (max-width: 1620px) {
 /*body{min-width:1540px;}*/
	
	
}


@media only screen and (max-width: 1560px) {
 /*body{min-width:1440px;}*/
 	/*-----  header  ----*/
	 	.category_block{width: 9.05%;}
	 	.search_block{width: 55%;}
	 	.recipe_link{width: 5%; margin: 12px 0 12px 12px;}
	 	.autorization_block{width: 15%;}
	
	/*-----  footer  ----*/
 	
 		.copyrights_block{ width: 20.18%;}
 		.registr_block{width: 11.28%; margin-right: 9.2%;}
 		.contacts_block {width: 27.2%;margin-right: 6.2%;}
 		.social_block{width: 16.67%;margin-right: 5.26%;}

}

@media only screen and (max-width: 1460px) {
 	/*-----  header  ----*/
	 	.logo{width: 150px;}
	 	.category_block{width: 11%;}
	 	.search_block{width: 49%;}
	 	.recipe_link{width: 10%;}
	 	.autorization_block{width: 16%;}

	.masonry_item{
		margin: 5px 7px;
		/*width: 190px;*/
	}
	
}

@media only screen and (max-width: 1260px) {
 /*body{min-width:980px;}*/
 	/*-----  header  ----*/
	 	.logo{width: 120px;}
	 	.category_block{width: 12%;}
	 	.search_block{width: 42%;}
	 		.header_search_btn2{width: 91px; line-height: 1.7; font-size: 13px;}
	 	.autorization_block{width: 20%;}
	 		.logo a{
	 			-webkit-background-size: 90%;
	 			     -o-background-size: 90%;
	 			        background-size: 90%;
	 		}
	 		.category_btn{
	 			font-size: 14px;
	 			padding-left: 25px;
	 		}
	 		.header_search_btn2{
	 			width: 160px;
	 		}
	 		.header_input1{width: calc(100% - 187px);}

	/*----  content  ----*/
		#content{
	 		width: 950px;
	 	}

	/*-----  footer  ----*/
	 		.registr_block{width: 13.28%;}
	 		.copyrights_block{width: 22.18%;}

	 			.footer_title{font-size: 14px;}
	 			.footer_list li {font-size: 13px; line-height: 24px;}
 	
 	/*----  ATRICLE  ----*/
 		.article_figure{
 			width: 100%;
 			float: none;
 			margin-right: 0;
 		}
	 		.article_figure .img_box{
	 			width: 30%;
	 			margin-right: 20px;
	 		}

	 		.form_recipe_right{
	 			width: 37%;
	 		}

 	/*-----------  NOVELTY  ----------*/
 		.novelty{
 			width: 23.7%;
 			margin-bottom: 15px;
 		}
 			.novelty .title4{
 				margin-bottom: 5px;
 			}
 			.novelty p{
 				line-height: 1.1;
 			}

 	/*---------  ASIDE BOX  ---------*/
 		.aside_block{
 			width: 100%;
 			float: none;
 		}
	 		.aside_box{
	 			width: 31.8%;
	 			float: left;
	 			margin: 0 5px 25px;
	 		}

 		.aside_right_block{
 			display: none;
 		}

 	/*--------  CONTENT  --------*/
 		.recipes_block,
 		.col_right .recipes_block,
 		.col_left .recipes_block,
 		.aside_block+.recipes_block{
 			width: 100%;
 			float: none;
 		}
 		.aside_block+.recipes_block{
 			margin: 0;
 		}
 		.col_box .recipes_block {
		    margin: 40px -5px 20px;
		}
 			.masonry_item{
 				/*width: 171px;*/
 				margin: 5px 4px;
 			}

 	/*---  ANCHOR  ---*/
 		.arrow_up{
 			right: 25px;
 			bottom: 40px;
 		}
	
	/*--------  RECIPE CREATE  --------*/
		.recipe_ingredient_input{
			width: 51%;
		}


	/*-----------  ADMIN PAGE  ----------*/
		.table_row{padding-right: 70px;}
			.admin_table .table_row div:nth-child(4){
				width: 27%;
			}
			.admin_table .table_title_row div:nth-child(5), 
			.admin_table .table_title_row div:nth-child(6), 
			.admin_table .table_title_row div:nth-child(7), 
			.admin_table .table_title_row div:nth-child(8), 
			.admin_table .table_row div:nth-child(5), 
			.admin_table .table_row div:nth-child(6), 
			.admin_table .table_row div:nth-child(7), 
			.admin_table .table_row div:nth-child(8){
				width: 27.3%;
			}
			.admin_table .table_row div:nth-child(7), 
			.admin_table .table_row div:nth-child(8){
				float: right;
			}
			.admin_table .table_row div:last-child{
				width: 65px;
				position: absolute;
				right: 5px;
				top: 50%;
				margin-top: -24px;
			}
			
			.table_title_row div:nth-child(7),
			.table_title_row div:nth-child(8){
				display: none;
			}
}



@media only screen and (max-width: 1199px) {
 /*body{min-width:768px;}*/
 	/*-----  header  ----*/
	 	.search_block{width: 47%;}
	 	.recipe_link{width: 13%;}
	 	.autorization_block{width: 19%;}
	 		/*.registration_link,
	 		.login_link:after{display: none;}*/
		 	.header_input1{width: calc(100% - 164px);}
		 	
		 	.header_search_btn{width: 40px;}
		 	.header_input_box {width: calc(100% - 62px);}
		 	.category_block{width: 4%;}
		 		
		 		/*.category_btndisplay: block; height: 63px;}*/
		 		.category_btn{height: 63px; text-indent: -9999px; display: inline-block;}

	
	/*-----  footer  ----*/
	 	#content{
	 		width: 760px;
	 	}
	 		.copyrights_block{ width: 26.18%;}
	 		.registr_block{width: 17.28%; margin-right: 4.2%;}
	 		.contacts_block {width: 22.2%;margin-right: 5.2%;}
	 		.social_block{width: 21.67%;margin-right: 3.26%;}
	
	.content_main_box{
		width: 100%;
		float: none;
	}

	.category_item_box{
		width: 30%;
	}

	/*----  comments  ----*/
		.comments_block{
			width: 100%;
		}
			.comment_figure .img_box{
				width: 12%;
			}
			.comment_figcaption{
				width: 86.5%;
			}
	
	/*---------  CREATE  --------*/
		.create_aside{
			width: 24%;
		}
		.create_content{
			width: 73%;
		}

	/*--------  SINGLE RECIPE  --------*/
		.recipe_img_box{
			margin-right: 10px;
		}
		.recipe_btn_box{width: 21%;}
		.recipe_info_box{width: 48%;}

	/*--------  RECIPE CREATE  --------*/
		.form_recipe_right,
		.form_recipe_left{
		    width: 100%;
		    float: none;
		}
		.form_recipe_left{border-right: none;}
			.select_box {
			    margin-bottom: 15px;
			}

	/*-----------  ADMIN PAGE  ----------*/
			.admin_table .table_row div:nth-child(3),
			.admin_table .table_title_row div:nth-child(3){width: 15%;}
			.admin_table .table_title_row div:nth-child(4), 
			.admin_table .table_row div:nth-child(4){width: 50%;}

			.admin_table .table_title_row div:nth-child(5), 
			.admin_table .table_title_row div:nth-child(6), 
			.admin_table .table_title_row div:nth-child(7), 
			.admin_table .table_title_row div:nth-child(8), 
			.admin_table .table_row div:nth-child(5), 
			.admin_table .table_row div:nth-child(6), 
			.admin_table .table_row div:nth-child(7), 
			.admin_table .table_row div:nth-child(8){
				width: 48%;
				padding-right: 0;
				padding-left: 5px;
			}
			.admin_table .table_row div:nth-child(7), 
			.admin_table .table_row div:nth-child(8){
				float: left;
			}
			
			.table_title_row div:nth-child(5),
			.table_title_row div:nth-child(6){
				display: none;
			}

			.admin_form label{width: 20%;}
			.admin_form .form_row input, 
			.admin_form .form_row select, 
			.admin_form .form_row textarea{width: 70%;}
}


@media only screen and (max-width: 1005px) {
	/*body{min-width:768px;}*/
	/*-----  header  ----*/
		.search_block{width: 45%;}
 		.autorization_block{width: 22%;}
 		.login_link, 
 		.registration_link{
			font-size: 13px;
 		}
}


@media only screen and (max-width: 991px){
	/*-----  header  ----*/
		.header_search_btn2 {
		    width: 112px;
		}
	/*-----  content  ----*/
	 	.registration_block{
	 		width: calc(100% - 40px);
	 	}
	 	.registration_form,
	 	.social_login_box{
	 		width: 53%;
	 	}

	/*-----------  ARTICLE  -----------*/
		.article_figure .img_box{
			width: 30%;
		}
		.article_figure .img_box {
		    width: 28%;
		}

	/*-----------  SINGLE RECIPE  -----------*/
	
 			/*----  dropzone  ----*/
				.dropzone .dz-preview .dz-image{
					height: 372px;
				}	

 	
 	/*---------  NOVELTY  --------*/
 		.novelty{
 			width: 47%;
 			height: 255px;
 		}


 	/*---------  CONTENT  ----------*/
 		.recipes_block .masonry_item{
 			/*width: 224px;*/
 		}
 			.recipes_block .masonry_figcaption .aside_show_more{
 				margin-right: 35px;
 			}
}

@media only screen and (max-width: 960px){
	.search_block{width: 43%;}
	.autorization_block{width: 23%;}
}

@media only screen and (max-width: 906px){
	.search_block{width: 42.5%;}
	.autorization_block{width: 22.5%;}			
}

@media only screen and (max-width: 900px) {
	/*body{min-width:700px;}*/
	/*-----  header  ----*/
		.category_block{width: 6%;}
			.resp_recipe_link.d_none {
			    display: block;
			    height: 34px;
			    float: left;
			    margin: 12px 0 12px 12px;
			    width: 1%;
			}
			.recipe_link{height: 34px; float: left; text-indent: -9999px; box-sizing: border-box; padding-left: 0; width: 5%; margin-right: 12px;}
			/*.resp_recipe_link.d_none{display: block;}*/
			.header_input_box{padding: 2.5px 0 2.5px 10px;}
			.header_input_box {width: calc(100% - 55px);}
	
	/*-----  content  ----*/
		.link_und{font-size: 13px;}
		.registration_form, .social_login_box{width: 64%;}

		input::-webkit-input-placeholder{font-size: 13px;}
	    input::-moz-placeholder{font-size: 13px;}
	    input:-moz-placeholder{font-size: 13px;}
	    input:-ms-input-placeholder{font-size: 13px;}
		
	/*-----  footer  ----*/
 	
 		.social_block {width: 35%; margin-right: 4%; margin-bottom: 25px;}
		.contacts_block {width: 56%; margin-right: 0; margin-bottom: 25px;}
		.registr_block {width: 35%; margin-right: 4%;}
		.copyrights_block {width: 56%;}


			/*----  dropzone  ----*/
				.dropzone .dz-preview .dz-image{
					height: 303px;
				}	


	/*---------  CONTENT  ----------*/
}


@media only screen and (max-width: 860px){
	.registration_link,
	.login_link,
	.login_link:after{display: none;}

	.autoriz_box{
		width: 50px; 
		height: 53px;
		box-sizing: border-box;
        background: url(../images/icon/account_icon.png) 50% 50% no-repeat;
	}
}

@media only screen and (max-width: 767px) {
	#content{
		width: 470px;	
	}
		.main{
			margin: 0 15px;
		}
		.resp_padd{
			position: relative;
			padding: 40px 15px 355px 15px !important;
		}

	.category_item_box{
		width: 43%;
	}
	/*  header  */
		.autorization_block {
		    width: 7.5%;
		}
		.recipe_link{
			width: 8%;
			margin: 12px 7px;
		}
		.search_block{
			width: 51.5%;
		}
			.header_input1 {
			    width: calc(100% - 120px);
			}

		/*-------  titles  ------*/
			.title2{
				font-size: 24px;
			}
			.title3{
				font-size: 20px;
			}
			.title4{
				font-size: 18px;
			}

		/*----  comments  ----*/
			.comment_figure .img_box{
				width: 65px;
				height: 70px;
			}
			.comment_figcaption{
				width: 80%;
			}


	/*-----  ASIDE  -----*/	
		.aside_block{
			display: none;
		}	

	/*--------  NOVELTY  --------*/
		.day_recipe_box{
			position: absolute;
			bottom: 0;
			left: 5px;
			margin: 20px 0 10px;
		}

	/*-----------  ARTICLE  -----------*/
		.article_figure{
			width: 100%;
			float: none;
			margin-right: 0;
		}
			.article_figure .img_box{
				width: 100%;
				float: left;
				margin-right: 0;
				margin-bottom: 15px;
			}
			.article_figcaption{
				float: none;
				width: 100%;
			}
    /*-----------  SINGLE RECIPE  -----------*/
		.form_recipe_left,
		.form_recipe_right{
			float: none;
			width: 100%;
			padding-right: 0;
		}
		.form_recipe_left{border-right: none;}

		.recipe_img_box{width: 50%;}
		.recipe_btn_box{width: 42%;}
		.recipe_info_box{
			float: none;
			width: 100%;
			margin-bottom: 30px;
		}

		.full_pagin_list{
			margin: 0 -20px 20px; 
		}
				.pagin_recipe_item a{
					padding: 35px 15px 10px;
				}
				.fb_link img{
					height: 115px;
				}


 	/*---------  CONTENT  ----------*/
 		.recipes_block .masonry_item,
 		.masonry_item,
 		.masonry_item.version2{
 			width: 100%;
 			float: none;
 			margin: 5px 0;
 		}

 	/*-------------  HOME  ----------*/
 		.show_more_btn{
 			margin: 30px auto -20px;
 			-webkit-border-radius: 8px;
 			        border-radius: 8px;
 		}

 		.aside_box {
		    width: 75%;
		    float: none;
		    margin: 11px auto;
		}

			.masonry_item.version2 .masonry_figcaption{
				min-height: 100%;
			}
			.left_box,
			.my_recipes_block .left_box{
				float: none;
				width: 100%;
				margin-bottom: 20px;
			}
			.text_fig{
				height: 80px;
			}

	/*-------------  REGISTRATION  ----------*/
		.social_login{
			margin-bottom: 5px;
		}

	/*-------------  CREATE  ----------*/
		.create_aside{
			width: 175px;
		    position: absolute;
		    left: -175px;
		}
		.create_content{
			width: 100%;
			float: none;
		}
			.create_btn{
				display: block;
			}
			.create_aside{
				top: 60px;
				z-index: 999;
				position: absolute;
			}
			.create_overlay .create_aside{
				left: -5px;
				-webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
				
				box-shadow: 0.5px 1px 8px rgba(0, 1, 1, 0.5);
			}

	/*---------  NOVELTY  --------*/
 		.novelty{
 			width: 95%;
 			margin: 7px;
 		}

}
@media only screen and (max-width: 710px){
	.registr_block{
		margin-bottom: 15px;
	}	
	.copyrights_block{
		width: 100%;
	}
}

@media only screen and (max-width: 640px){
	.registration_form, 
	.social_login_box{
		width: 100%;
	}
	.social_block,
	.contacts_block,
	.registr_block,
	.copyrights_block{
		width: 100%;
		margin-right: 0;
		margin-bottom: 25px;
	}

	/*-----  ARTICLE  -----*/
		.article_figcaption p{
			font-size: 13px;
		}

	/*  header  */
		.right_block_wrapper{
			float: right;
		}
		.recipe_link{
			width: 40px;
		}
			.resp_icon_list_item .header_search_btn{
			    border-radius: 7px;
			    margin: 5px 0;
			}

		.autorization_block_drop_resp_item .login_link:after{
			display: none;
		}	
		
		.header_box{
			position: relative;
		}
		.header_search_btn.active_btn{
			display: block;
			border-radius: 7px;
			float: left;
			margin: 5px 0;
		}
		

		.search_block.active{
			opacity: 1;
			visibility: visible;
			top: 70px;
			-webkit-transition: all 0.7s ease;
	        -moz-transition: all 0.7s ease;
	        -o-transition: all 0.7s ease;
	        transition: all 0.7s ease; 
		}
		.search_block_close{
			display: block;
			top: 10px; 
		    right: 15px;
		    width: 12px;
		    height: 12px;
		    position: absolute;
		    background: url(../images/icon/close_icon.png) 0% 0% no-repeat;
		}
		.login_link, 
		.registration_link{
			font-size: 14px;
		}
		.header_box, 
		.footer_box {
		    width: 100%;
		    padding-left: 25px;
		    padding-right: 25px;
		}
		.category_block{
			position: static;
		}
		.wrap_category_menu{
			left: -800px;
			top: 70px;
		}
		.category_block li .wrap_category_menu.navTrue{
			left: 0;
			right: 0;
			width: 100%;
			opacity: 1;
			visibility: visible;
		}
		.wrap_category_menu .category_menu li{
			display: inline-block;
			margin: 0 4px 3px;
		}
		.wrap_category_menu:before{
	        display: none;
	    }
	    .dropdown_authorization_block{
	    	left: inherit;
	    	right: 0;
	    	top: 57px;
	    }
	    .header_search_btn2{
	    	display: none;
	    }
		.search_block{
			opacity: 0;
			visibility: hidden;
			overflow: hidden; 
			position: absolute;
			top: -400px;
			left: 25px;
			z-index: 999;
			width: 100%;
			padding: 10px 50px;
			background: #fff;
			margin: 0 -25px;
			box-sizing: border-box;
			-webkit-transition: all 1s ease;
	        -moz-transition: all 1s ease;
	        -o-transition: all 1s ease;
	        transition: all 1s ease;
		}
	


}

@media only screen and (max-width: 480px){
	
	#content{
		width: 300px;
	}
	.title2 {
	    font-size: 22px;
	}
	.title5{font-size: 16px;}
		.main {
		    margin: 0 5px;
		    padding: 40px 10px 20px;
		}
		.category_item_box{
			width: 100%;
			float: none;
		}
		/*---  BREADCRUMBS  ----*/
			.breadcrumbs{
				margin: -30px 0 0;
			}
			.breadcrumbs_item{
				margin-right: 3px;
			}
			.breadcrumbs_item_link:after{
				padding-left: 0;
			}
		
		/*----  SHARE  ----*/

			.like_link,
			.share_btn{
				width: 40px;
				height: 40px;
			}
			.soc_share{
				top: 40px;
				width: 40px;
				padding: 8px 0 3px;
			}
				.soc_share a{
					margin: 4px 3px;
				}
				.close_soc_btn{
					margin: 3px 0px -3px 0px !important;
				    width: 100% !important;
				    border-radius: 0 0 5px 5px !important;
				}

		/*----  SINGLE ARTICLE  ----*/
			.single_article .img_box{
				width: 100%;
				margin: 0 0 10px;
			}
		/*-----  ARTICLE  -----*/
			.article_figure .img_box{
				width: 100%;
			}
				.article_figcaption+.aside_show_more{
					font-size: 12px;
				}

		/*-------   HOME   ------*/
			.aside_box{
				width: 95%;
			}
				.masonry_figcaption .aside_show_more {
				    margin-right: 72px;
				}
		
		/*-------   REGISTRATION   ------*/
			.registration_block{
				width: 100%;
			}
				.span_vs_borders:before, 
				.span_vs_borders:after{
					width: 105px;
				}
				.span_vs_borders:after{
					right: -97px;
				}
				.span_vs_borders:before{
					left: -97px;
				}
	
		/*-----------  SINGLE RECIPE  -----------*/
			.recipe_img_box,
			.recipe_btn_box{
				float: none;
				width: 100%;
				margin-bottom: 15px;
			}
			.recipe_add,
			.recipe_comment,
			.coock_time,
			.portions,
			.calories{
				width: 100%;
				display: block;
			}
			.full_pagin_list {
			    margin: 20px -10px 20px;
			}
				.pagin_recipe_item a {
				    padding: 35px 4px 10px;
				    font-size: 11px;
				}

			.step_info,
			.step_img_box{
				width: 100%;
				float: none;
			}
			.step_img_box{margin-right: 0; margin-bottom: 12px;}
				.fb_link img{
					height: 170px;
				}

		/*------------ RECIPE CREATE ------------*/
			.recipe_ingredient_input,
			.ingredient_count,
			.ingredient_measure{
				width: 100%;
				float: none;
				margin-bottom: 3px;
			}
			.add_decription_step{
				width: 100%;
			}
				.add_min_photo{
					margin-bottom: 7px;
				}
	
	
	/*----  comments  ----*/
		.comment_figure .img_box{
			margin-bottom: 10px;
		}
		.comment_figcaption{
			width: 100%;
		}	

	/*-------  ADMIN PAGE  ------*/	
		.table_row{padding-right: 0;}
			.admin_form .form_row input, 
			.admin_form .form_row select, 
			.admin_form .form_row textarea{width: 100%;}

			.admin_table .table_title_row div:nth-child(4){
				width: 50%;
				float: right;
			} 
			.admin_table .table_row div:nth-child(4){
				width: 87%;
				padding-left: 5px;
			}
			.admin_table .table_title_row div:nth-child(5), 
			.admin_table .table_title_row div:nth-child(6), 
			.admin_table .table_title_row div:nth-child(7), 
			.admin_table .table_title_row div:nth-child(8), 
			.admin_table .table_row div:nth-child(5), 
			.admin_table .table_row div:nth-child(6), 
			.admin_table .table_row div:nth-child(7), 
			.admin_table .table_row div:nth-child(8){
				width: 100%;
			    padding: 0 5px 5px 5px;
			}
			
			.admin_table .table_row div:last-child{
				top: 10px;
				margin-top: 0;
			}

				.admin_form label {
				    width: 100%;
				    text-align: left;
				    line-height: 1;
				}
}

@media only screen and (max-width: 430px){
	.social_login{
		margin-bottom: 10px;
	}

	/*------  header  ------*/
	    .logo{
			width: 108px;
		}
		.header_search_btn{
			width: 30px;
		    height: 43px;
		}
		.autoriz_box{
			height: 43px;
			box-sizing: border-box;
			padding: 7px 9px;
		}
		.category_btn{
			height: 52px;
		}
		.header_input1{
			width: 100%;
		    line-height: 34px;
		    height: 34px;
		}

		.autoriz_box{
			width: 40px;
		}

	/*-----------  SINGLE RECIPE  -----------*/

	 	.breadcrumbs {
		    margin: -30px -1px 0;
		}
			.single_recipe_step_block span{
				font-size: 12px;
			}

		/*----  dropzone  ----*/
			.dropzone .dz-preview .dz-image{
				height: 223px;
			}	
    
}

@media only screen and (max-width: 320px){
	.logo{
		width: 40%;
	}
	.header_search_btn{
		width: 30px;
	    height: 41px;
	}
	.autoriz_box{
		height: 43px;
		box-sizing: border-box;
		padding: 7px 9px;
	}
	.category_btn{
		height: 52px;
	}
	.wrap_category_menu .category_menu li{
		display: block;
	}
}
