@import "../css/reset.css";
@import "../css/superfish.css";
@import "../css/chosen.css";
@import "../css/formstyler.css";
@import "../css/dropzone.css";
@import "../css/owl.carousel.css";
@import "../css/jquery.fancybox.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic&subset=cyrillic-ext,latin);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:;
  color:#666;
  min-width: 320px;
  -webkit-text-size-adjust: none;
  background: #FFF url(../images/main_bg.png) 0% 0% fixed no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;        
}
*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input,
textarea,
button{
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    outline:none;
}

/*----------------------> Links And buttons <------------------*/
a {
  color: #6d6d6d;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}


.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}

.link{
    color: #FF5C01;
}
.link:hover{
    text-decoration: underline;
}
    .link_und{
        color: #6d6d6d;
        font-weight: 300;
        line-height: 27px;
        text-decoration: underline;
    }

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.td_und{text-decoration: underline;}
a.td_und:hover{text-decoration: none;}
.td_none_und{text-decoration: none;}
.td_none_und:hover{text-decoration: underline;}

.val_mid{vertical-align: middle;}


/*----------------------> Font-size <------------------*/
.fz15{font-size: 15px;}

/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

[data-color="black1"]{color: #000006;}
[data-color="black2"]{color: #202020;}
[data-color="orange"]{color: #ff5c01;}


/*---------------------->  GOOGLE FONTS  <------------------*/
        

.open_sans_lt{
    font-weight: 300;
}
.open_sans_reg{
    font-weight: 400;
}
.open_sans_med{
    font-weight: 500;
}
.open_sans_bd{
    font-weight: 700;
}
.open_sans_ultra_bd{
    font-weight: 900;
}


/*---------Global overlay----------*/

.nav_overlay{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 222;
  background-color: #000;
}

/*======================> Header <======================*/

header *{
    color: #828282;
}
header{
    /*display: inline-block;*/
    background-color: #FFF;
}
    .header_box{
        width: 1738px;
        margin: 0 auto;
        padding: 6px 0;
    }
        .logo,
        .category_block,
        .search_block,
        .recipe_link,
        .autorization_block{
            float: left;
        }
        .logo{
            width: 10.75%;
        }
            .logo a{
                display:block;
                height:63px;
                background:url(../images/logo.png) 0 0 no-repeat;
                text-decoration:none;
                text-indent:-9999px;
            }
        .category_block{
            width: 8.05%;
            position: relative;
        }  
            
                .category_btn,
                .resp_categ_btn{
                    font-size: 15px;
                    line-height: 63px;
                    padding-left: 30px;
                    background: url(../images/icon/menu_icon.png) 0% 60% no-repeat;
                }  
                    .category_btn:hover{
                        color: #FF5C01;
                        background: url(../images/icon/menu_icon_h.png) 0% 60% no-repeat;
                    }
                .wrap_category_menu{
                    box-sizing: border-box;
                    width: 256px;
                    z-index: 999;
                    top: 58px;
                    opacity: 0;
                    left: -54.5px;
                    visibility: hidden;
                    position: absolute;
                    background-color: #FFF;
                    border: 1px solid #DEDEDE;
                    -webkit-border-radius: 5px;
                            border-radius: 5px;
                    box-shadow: 1.5px 2.6px 4px rgba(0, 1, 1, 0.07);
                    
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -o-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                }
                .category_menu{
                    padding: 10px 23px 0;
                }
                .category_block li .wrap_category_menu.navTrue{
                    opacity: 1;
                    visibility: visible;
                    box-sizing: border-box;
                }   
                    .wrap_category_menu:before{
                        content: "";
                        top: -12px;
                        left: 50%;
                        margin-left: -23px;
                        width: 25px;
                        height: 12px;
                        position: absolute;
                        background: url(../images/icon/arrow_icon.png) 50% 50% no-repeat;
                    }
                    .category_menu_item{
                        
                    }
                        .category_menu_link{
                            font-size: 15px;
                            line-height: 30px;
                            padding-left: 33px;
                        }
                            .category_menu_link:hover{
                                color: #ff5c01;
                            }
                        .category_menu_item:first-child .category_menu_link{ background: url(../images/icon/category_icon1.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(2) .category_menu_link{background: url(../images/icon/category_icon2.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(3) .category_menu_link{background: url(../images/icon/category_icon3.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(4) .category_menu_link{background: url(../images/icon/category_icon4.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(5) .category_menu_link{background: url(../images/icon/category_icon5.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(6) .category_menu_link{background: url(../images/icon/category_icon6.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(7) .category_menu_link{background: url(../images/icon/category_icon7.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(8) .category_menu_link{background: url(../images/icon/category_icon8.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(9) .category_menu_link{background: url(../images/icon/category_icon9.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(10) .category_menu_link{background: url(../images/icon/category_icon10.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(11) .category_menu_link{background: url(../images/icon/category_icon11.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(12) .category_menu_link{background: url(../images/icon/category_icon12.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(13) .category_menu_link{background: url(../images/icon/category_icon13.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(14) .category_menu_link{background: url(../images/icon/category_icon14.png) 0% 50% no-repeat;}
                        .category_menu_item:nth-child(15) .category_menu_link{background: url(../images/icon/category_icon15.png) 0% 50% no-repeat;}

                            .category_menu_item:first-child:hover .category_menu_link{background: url(../images/icon/category_icon1_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(2):hover .category_menu_link{background: url(../images/icon/category_icon2_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(3):hover .category_menu_link{background: url(../images/icon/category_icon3_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(4):hover .category_menu_link{background: url(../images/icon/category_icon4_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(5):hover .category_menu_link{background: url(../images/icon/category_icon5_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(6):hover .category_menu_link{background: url(../images/icon/category_icon6_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(7):hover .category_menu_link{background: url(../images/icon/category_icon7_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(8):hover .category_menu_link{background: url(../images/icon/category_icon8_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(9):hover .category_menu_link{background: url(../images/icon/category_icon9_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(10):hover .category_menu_link{background: url(../images/icon/category_icon10_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(11):hover .category_menu_link{background: url(../images/icon/category_icon11_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(12):hover .category_menu_link{background: url(../images/icon/category_icon12_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(13):hover .category_menu_link{background: url(../images/icon/category_icon13_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(14):hover .category_menu_link{background: url(../images/icon/category_icon14_h.png) 0% 50% no-repeat;}
                            .category_menu_item:nth-child(15):hover .category_menu_link{background: url(../images/icon/category_icon15_h.png) 0% 50% no-repeat;}

                    .all_category{
                        box-sizing: border-box;
                        width: 100%;
                        color: #828282;
                        display: inline-block;
                        font-size: 16px;
                        line-height: 1.9;
                        margin: 8px 0 0;
                        padding: 12px 10px;
                        text-align: center;
                        -webkit-border-radius: 0 0 5px 5px;
                                border-radius: 0 0 5px 5px;
                        background-color: #f8f8f8;
                    }
                        .all_category:hover{
                            color: #FF6007;
                        }

        .search_block{
            width: 59%;
            margin: 5px 0;
        }
            .header_search_form{
                width: 100%;
            }   
                .header_input_box{
                    width: calc(100% - 54px);
                    padding: 3px 0 3px 19px;
                    background-color: #F8F8F8;
                    border: 1px solid #E5E5E5;
                    -webkit-border-radius: 7px 0 0 7px;
                            border-radius: 7px 0 0 7px;
                }
                    .header_input1{
                        border: none;
                        font-size: 15px;
                        line-height: 44px;
                        width: calc(100% - 250px);
                        background-color: transparent;
                        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                    }
                    .header_search_btn2{
                        width: 194px;
                        height: 44px;
                        float: right;
                        outline: none;
                        line-height: 3;
                        padding: 0 10px;
                        font-size: 14px;
                        cursor: pointer;
                        margin: auto 2px;
                        font-weight: 300;
                        text-align: center;
                        background-color: #FFF;
                        border: 1px solid #efefef;
                        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                    }
                        .header_search_btn2:hover{
                            border: 1px solid transparent;
                            -webkit-box-shadow: inset 1px 1px 3.5px #e3e3e3;
                                    box-shadow: inset 1px 1px 3.5px #e3e3e3;
                        }
                        .header_search2_block{
                            position: absolute;
                            top: -138px;
                            left: 0;
                            right: 0;
                            z-index: 999;
                            width: 100%;
                            padding: 11px 0;
                            background-color: rgba(255, 255, 255, 0.8);
                            -webkit-transition: all 0.7s ease;
                            -moz-transition: all 0.7s ease;
                            -o-transition: all 0.7s ease;
                            transition: all 0.7s ease;
                        }
                            .header_search_box2{
                                width: 61%;
                                margin: auto;
                                padding: 35px 20px;
                                position: relative;
                                background-color: #fff;
                                border: 1px solid #DEDEDE;
                                border-radius: 7px ;
                                -webkit-box-shadow: 3px 3px 6px #E5E5E5;
                                        box-shadow: 3px 3px 6px #E5E5E5;
                            }
                                .header_input2{
                                    width: calc(100% - 27px);
                                    line-height: 43px;
                                    padding: 0 13px;
                                    border: 1px solid #E5E5E5;
                                    background-color: #F8F8F8;
                                    border-radius: 7px !important;
                                }
                                
                                .header_search_inner_btn2{
                                    position: absolute;
                                    right: 21px;
                                    top: 35px;
                                    width: 44px;
                                    height: 45px;
                                    border: none;
                                    cursor: pointer;
                                    outline: none;
                                    -webkit-border-radius: 0 7px 7px 0;
                                            border-radius: 0 7px 7px 0;
                                    background: #bebebe url(../images/icon/search_icon.png) 50% 50% no-repeat;
                                }
                                #close{
                                    top: 10px;
                                    right: 10px;
                                    width: 12px;
                                    height: 12px;
                                    position: absolute;
                                    background: url(../images/icon/close_icon.png) 0% 0% no-repeat;
                                }

                                .header_search_form .chosen-container-active.focus .chosen-drop{
                                    top: 65px;
                                    left: 420px;
                                }
                        .header_search2_block.search_overlay{
                            top: 0;
                            -webkit-transition: all 0.7s ease;
                            -moz-transition: all 0.7s ease;
                            -o-transition: all 0.7s ease;
                            transition: all 0.7s ease;
                        }

                .header_search_btn{
                    width: 53px;
                    height: 53px;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    -webkit-border-radius: 0 7px 7px 0;
                            border-radius: 0 7px 7px 0;
                    background: #ff5c01 url(../images/icon/search_icon.png) 50% 50% no-repeat;
                }
                    .header_search_btn:active {background: #EF5600 url(../images/icon/search_icon.png) 50% 50% no-repeat;}
                    .header_search_btn:hover {background: #F75800 url(../images/icon/search_icon.png) 50% 50% no-repeat;}
            .search_block_close{
                display: none;
            }        
        .recipe_link,
        .resp_recipe_link{
            width: 7%;
            font-size: 14px;
            font-weight: 300;
            padding-left: 48px;
            margin: 12px 0 12px 20px;
            background: url(../images/icon/recipe_icon.png) 0% 50% no-repeat;
        }
            .recipe_link:hover,
            .resp_recipe_link:hover{
                color: #FF5C01;
                background: url(../images/icon/recipe_icon_h.png) 0% 50% no-repeat;
            }


        .autorization_block{
            width: 13%;
        }
            .autoriz_box{
                margin: 5px 0;
                padding: 15.5px 9px;
                display: inline-block;    
                background-color: #F8F8F8;
                border: 1px solid #E5E5E5;
                -webkit-border-radius: 7px;
                        border-radius: 7px;
                position: relative;
                z-index: 99;
            }

            .autorization_block li{
                position: relative;
            }

                .login_link{
                    margin-right: 2px;
                    padding: 5.5px 0 5.5px 29px;
                    background: url(../images/icon/account_icon.png) 0% 50% no-repeat;
                }
                .registration_link{
                    position: relative;
                    padding: 5.5px 0 5.5px 7px;
                }
                    .registration_link:before{
                        content: "";
                        position: absolute;
                        
                        left: 0;
                        top: 28%;
                        width: 2px;
                        height: 16px;
                        background-color: #BEBEBE;
                    }

                .login_link,
                .registration_link{
                    font-size: 14px;
                    font-weight: 300;
                }

                .autorization_block_drop_resp{
                    opacity: 0;
                    display: none;
                    right: 0;
                    top: 100%;
                    width: 159px !important;
                    height: auto;
                    visibility: hidden;
                    position: absolute;
                    border-radius: 6px;
                    padding: 18px 15px;
                    background-color: #f8f8f8;
                    border: 1px solid #dedede;
                    box-shadow: 1.5px 2.6px 4px rgba(0, 1, 1, 0.07);
                    

                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -o-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                }

                    .autorization_block_drop_resp_item .login_link{
                        background: none;
                        padding-left: 0;
                    }

                    .autorization_block .autorization_block_drop_resp.active{
                        opacity: 1;
                        visibility: visible;
                        
                    }
                        .autorization_block_drop_resp li{
                            width: 100%;
                        }
                            .autorization_block_drop_resp a{
                                width: 100%;
                                display: inline-block;
                            }

                .dropdown_authorization_block{
                    opacity: 0;
                    left: 0;
                    top: 59px;
                    z-index: 999;
                    width: 188px !important;
                    min-height: 250px;
                    visibility: hidden;
                    position: absolute;
                    border-radius: 6px;
                    padding: 12px 15px 18px;
                    background-color: #f8f8f8;
                    border: 1px solid #dedede;
                    box-shadow: 1.5px 2.6px 4px rgba(0, 1, 1, 0.07);
                    

                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    -o-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                }
                    .avatar_box{
                        width: 80px;
                        height: 80px;
                        margin: 0 auto 10px;
                        background-color: #FFF;
                        border: 1px solid #dedede;
                    }
                        .avatar_box img{
                            width: 100%;
                            height: 100%;
                        }

                .autorization_block li:hover .dropdown_authorization_block{
                    
                    opacity: 1;
                    visibility: visible;
                    
                }
                    .dropdown_authorization_block li{
                        width: 100%;
                    }
                        .dropdown_authorization_block a{
                            width: 100%;
                            display: inline-block;
                        }
    
        /*--------------  AUTOCOMPLETE  -----------*/
            .ui-widget-content.ui-autocomplete{
                z-index: 9999;
                max-width: 200px;
                border-radius: 5px;
                padding: 12px 15px;
                background-color: #FFF;
                border: 1px solid #dedede;
                box-shadow: 1.5px 2.6px 4px rgba(0, 1, 1, 0.07);
            }
                .ui-menu-item-wrapper{
                    font-size: 15px;
                    line-height: 38px;
                    cursor: pointer;
                }
                .ui-helper-hidden-accessible{
                    display: none;
                }

    .resp_icon_list{
        display: none;
    }

/*=====================> Content ========================*/
#content {padding: 40px 0px 40px 0px; min-height: 630px; max-width: 1400px; margin: 0 auto;}
.cont_pad{padding:0 0 0 0 !important;}
.main{
    
    padding: 40px 22px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0.5px 0.9px 8px rgba(0, 1, 1, 0.14);
}
.img_box{
    text-align: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.img_box img{
    height: 100%;
    max-width: 100%;
    display: none;
}
    /*------  BREADCRUMBS  ------*/
        .breadcrumbs{
            margin-top: -20px;
        }
            .breadcrumbs_item{
                font-size: 13px;
                float: left;
                margin-right: 10px;
            }
                .breadcrumbs_item_link{
                    
                }
                .breadcrumbs_item_link:after{
                    content: "/";
                    padding-left: 5px;
                }
                .breadcrumbs_item_link:hover{
                    color: #FB5C01;
                }

    /*------  LIKE & SHARE  ------*/
        .like_link{
            width: 48px;
            height: 48px;
            right: 50px;
            top: 0;
            padding: 5px;
            position: absolute;
            border: 1px solid #FB5C01;
            -webkit-border-radius: 0 0 8px 8px;
                    border-radius: 0 0 8px 8px;
            background: #FB5C01 url(../images/icon/like.png) 50% 50% no-repeat;
        }
        .like_link:hover,
        .share_btn:hover{
            border: 1px solid #F97B34;
            background-color: #F97B34;
        }
        .share_link_box{
            right: 0;
            top: 0;
            position: absolute;
            display: inline-flex;
        }
            .share_btn{
                cursor: pointer;
                width: 48px;
                height: 48px;
                padding: 5px;
                border: 1px solid #FB5C01;
                -webkit-border-radius: 0 5px 0 8px;
                        border-radius: 0 5px 0 8px;
                background: #FB5C01 url(../images/icon/share.png) 50% 50% no-repeat;
                
                -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                      -o-transition: all 0.5s ease;
                         transition: all 0.5s ease;
            }
            .share_overlay .share_btn{
                -webkit-border-radius: 0 8px 0 0;
                        border-radius: 0 8px 0 0;
                -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                      -o-transition: all 0.5s ease;
                         transition: all 0.5s ease;
            }
            .soc_share{
                width: 48px;
                min-height: 44px;
                position: absolute;
                top: 48px;
                right: -50px;
                padding: 8px 1px 3px;
                border-radius: 0 0 8px 8px;
                border: 1px solid #fb5c01;
                border-top: none;
                -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                      -o-transition: all 0.5s ease;
                         transition: all 0.5s ease;
                background-color: #FFF;
            }
                
            .share_overlay .soc_share{
                right: 0;
                -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                      -o-transition: all 0.5s ease;
                         transition: all 0.5s ease;
            }
                .close_soc_btn{
                    margin: 3px 0 -3px -2px !important;
                    width: 110% !important;
                    border-radius: 0 0 8px 8px !important;
                    background: #FB5C01 url("../images/icon/close_white_button.png") 50% 50% no-repeat;
                }

    /*------  ANCHOR  ------*/
        #ahchor{}
        .ahchor{}
            .arrow_up {
                position: fixed;
                z-index: 99;
                right: 150px;
                bottom: 150px;
                visibility: hidden;
                opacity: 0;
                bottom: 200px;
                cursor: pointer;
                -webkit-transition: all linear 0.1s;
                   -moz-transition: all linear 0.1s;
                    -ms-transition: all linear 0.1s;
                     -o-transition: all linear 0.1s;
                        transition: all linear 0.1s;
                width: 64px;
                height: 64px;
                background: url(../images/icon/up-arrow.png) 50% 50% no-repeat;
            }
            .arrow_up.active{
                opacity: 0.6;
                visibility: visible;
            }

                .arrow_up:hover,
                .arrow_up.click{
                    opacity: 1;
                    -webkit-transform: scale(1.1);
                       -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                         -o-transform: scale(1.1);
                            transform: scale(1.1);
                    -webkit-transition: all ease-in 0.1s;
                       -moz-transition: all ease-in 0.1s;
                        -ms-transition: all ease-in 0.1s;
                         -o-transition: all ease-in 0.1s;
                            transition: all ease-in 0.1s;
                    background: url(../images/icon/up-arrow_h.png) 50% 50% no-repeat;
                }
    
    /*------------*********  COLUMNS VISIBILITY  *********------------*/
    
        /*--- этот класс для видимости только главной(центральной части) и правого блока ---*/
            .col_right{}
                .col_right .aside_block{
                    display: none;
                }
                .col_right .recipes_block{
                    width: 84%;
                }

        /*--- этот класс для видимости только главной(центральной части) и правого блока  ---*/
            .col_left{}
                .col_left .aside_right_block{
                    display: none;
                }
                    .col_left .recipes_block{
                        width: 83%;
                    }

        .col_box{}
            .col_box .aside_block{
                margin-top: 0 !important;
                margin-right: 20px;
            }
            .col_box .recipes_block{
                margin: 0 -5px 20px;
            }
        

    /*-----------------------  HOME  ---------------------*/
        .novelty{
            width: 24%;
            height: 280px;
            padding: 10px;
            float: left;
            overflow: hidden;
            margin-right: 15px;
            margin-bottom: 25px;
            background-color: #FFF;
            -webkit-border-radius: 8px;
                    border-radius: 8px;
            -webkit-box-shadow: 0px 0px 10px #ff5c01;
                    box-shadow: 0px 0px 10px #ff5c01;
        }
        .novelty:last-child{
            margin-right: 0;
        }
            .novelty_link{
                display: block;
                
            }

            .novelty .title4{
                color: #FF5C01;
                font-weight: 600;
                margin-bottom: 15px;
            }
            .novelty .img_box{
                /*width: 100%;*/
                height: 130px;
                margin-bottom: 10px;
                text-align: center;
            }
            .novelty figcaption{

            }
                .novelty p{
                    margin-bottom: 10px;
                    line-height: 1;
                }


            .aside_block{
                width: 16%;
                margin-right: 10px;
            }
                .aside_box{
                    padding: 10px 5px;
                    margin-bottom: 15px;
                    background-color: #FFF;
                    -webkit-border-radius: 8px;
                            border-radius: 8px;
                    box-shadow: 0.5px 0.9px 8px rgba(0, 1, 1, 0.45);
                }
                    .aside_box .title5{
                        font-weight: 600;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    .aside_box .img_box{
                        height: 130px;
                        margin-bottom: 7px;
                    }
                    .aside_box figcaption{
                        padding: 10px;
                    }
                        .aside_show_more{
                            line-height: 2.1;
                            position: relative;
                        }
                        .aside_show_more:hover{
                            color: #FF5C01;
                        }
                            .aside_show_more:after{
                                content: "";
                                right: -30px;
                                top: -3px;
                                width: 25px;
                                height: 25px;
                                position: absolute;
                                background: url(../images/icon/next.png) 50% 50% no-repeat;
                                -webkit-transition: all 0.5s ease;
                                -moz-transition: all 0.5s ease;
                                  -o-transition: all 0.5s ease;
                                     transition: all 0.5s ease;
                            }
                            .aside_show_more:hover:after{
                                content: "";
                                background: url(../images/icon/next_h.png) 50% 50% no-repeat;
                                -webkit-transition: all 0.5s ease;
                                -moz-transition: all 0.5s ease;
                                  -o-transition: all 0.5s ease;
                                     transition: all 0.5s ease;
                            }

            .aside_right_block{
                width: 16%;
                margin-right: 0;
                padding: 10px 5px;
                background-color: #FFF;
                -webkit-border-radius: 8px;
                        border-radius: 8px;
                box-shadow: 0.5px 0.9px 8px rgba(0, 1, 1, 0.45);
            }

                .aside_right_block .category_menu{
                    padding: 0;
                }


            .aside_block+.recipes_block{
                width: 65%;
                float: left;
                margin-bottom: 20px;
                margin-top: -5px;
                margin-right: 15px;
                margin-left: 8px;
            }
            .recipes_block{
                width: 68%;
                float: left;
                margin: -5px -5px 20px;
            }
                .masonry_item,
                .similar_recipe{
                    margin: 5px;
                    float: left;
                    width: 218px;
                    height: 420px;
                    padding: 7px;
                    border-radius: 8px;
                    position: relative;
                    background-color: #fff;
                    box-shadow: 0.5px 0.9px 8px rgba(0, 1, 1, 0.14);
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
                .masonry_item:hover,
                .similar_recipe:hover{
                    -webkit-box-shadow: 0px 0px 10px #ff5c01;
                            box-shadow: 0px 0px 10px #ff5c01;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
                    .masonry_item .img_box{
                        width: 100%;
                        height: 150px;
                        text-align: center;
                        position: relative;
                    }
                    .recipe_box_link{}
                        .recipe_box_link img{
                            text-align: center;
                            height: 100%;
                            border-radius: 8px 8px 0 0;
                        }
                    .masonry_item .like_link,
                    .similar_recipe .like_link{
                        top: 7px;
                        right: 7px;
                    }
                        .masonry_item .img_box,
                        .similar_recipe .img_box{
                            margin-bottom: 10px;
                        }
                    .masonry_figcaption{
                    }
                        .masonry_figcaption .title5{
                            color: #ff5c01;
                            height: 70px;
                            margin-bottom: 7px;
                            text-transform: uppercase;
                        }

                    .masonry_item.version2{
                        width: 48%;
                        height: auto;
                    }
                        .left_box{
                            float: left;
                            width: 50%;
                            margin-right: 10px;
                        }
                            .alt_after_img{
                                
                            }
                                .soc_icons{
                                    
                                }
                                    .masonry_item.version2 .recipe_like{
                                        padding-left: 20px;
                                    }
                                .data_after_img{
                                    padding-top: 5px;
                                }

                        .masonry_item.version2 .masonry_figcaption{
                            overflow: hidden;
                            position: relative;
                            min-height: 189px;
                        }       
                            .masonry_item.version2 .masonry_figcaption .title5{
                                height: auto;
                            }
                            .text_fig{
                                height: 120px;
                                overflow: hidden;
                            }
                            .masonry_item.version2  .masonry_figcaption .recipe_author{
                                position: absolute;
                                bottom: 3px;
                                left: 0;   
                                margin-bottom: 0;
                            }

                .similar_recipe{
                    height: 400px;
                    width: 24%;
                    float: left;
                    margin-right: 10px;
                    margin-bottom: 30px;
                    overflow: hidden;
                }
                .similar_recipe:last-child{
                    margin-right: 0;
                }
                    .similar_recipe .img_box{
                        width: 100%;
                        height: 200px;
                    }
                

                        .recipe_author{
                            font-size: 13px;
                            margin-bottom: 10px;
                        }
                            .recipe_author span{
                                color: #9E9D9D;
                                float: none;
                            }
                        .recipe_like{
                            line-height: 2.1;
                            padding-left: 30px;
                            margin-right: 10px;
                            background: url(../images/icon/like2.png) 0% 50% no-repeat;
                        }
                        .recipe_like:hover{
                            background: url(../images/icon/like2_h.png) 0% 50% no-repeat;
                        }
                        .recipe_view{
                            line-height: 2.1;
                            padding-left: 30px;
                            background: url(../images/icon/view.png) 0% 50% no-repeat;
                        }
                        .recipe_view:hover{
                            background: url(../images/icon/view_h.png) 0% 50% no-repeat;
                        }
                        .masonry_figcaption .aside_show_more{
                            margin-right: 20px;
                            font-size: 13px;
                        }
                .show_more_btn{
                    color: #FFF;
                    display: table;
                    font-size: 20px;
                    line-height: 1.2;
                    padding: 15px 5px;
                    text-align: center;
                    width: 230px;
                    margin: 30px auto -40px; /*  40px  */
                    background-color: #6d6d6d;
                    -webkit-border-radius: 8px 8px 0 0;
                            border-radius: 8px 8px 0 0;
                }
                .show_more_btn:hover{
                    background-color: #FF5C01;
                }


    /*-----------------------  REGISTRATION  ---------------------*/
        .registration_block{
            width: 850px;
            padding: 40px 20px;
            margin: 0 auto;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.75);
            box-shadow: 0.5px 0.9px 8px rgba(0, 1, 1, 0.14);
            
            text-align: center;
        }
            .social_login_box{
                width: 45%;
                margin: -8px auto 8px;
            }
                .social_login{
                    width: 115px;
                    height: 37px;
                    color: #fff;
                    line-height: 37px;
                    margin-right: 4px;
                    padding-left: 30px;
                    text-align: center;
                    display: inline-block;
                    -webkit-border-radius: 5px;
                            border-radius: 5px;
                }
                .social_login:last-child{
                    margin-right: 0;
                }
                .social_login:hover{opacity: 0.85;}
                .social_login.vk{background: #567aa1 url(../images/icon/vk.png) 7% 50% no-repeat;}
                .social_login.gl{background: #ff5c01 url(../images/icon/gl.png) 17% 50% no-repeat;}
                .social_login.fb{background: #3b5998 url(../images/icon/fb.png) 15% 50% no-repeat;}

            .span_vs_borders{
                color: #6c6c6c;
                font-size: 15px;
                line-height: 1.7;
                padding: 0 18px;
                position: relative;
            }
                .span_vs_borders:before,
                .span_vs_borders:after{
                    content: "";
                    top: 10px;
                    height: 2px;
                    width: 151px;
                    position: absolute;
                    background-color: #bebebe;
                }
                .span_vs_borders:before{
                    left: -159px;
                }
                .span_vs_borders:after{
                    right: -159px;
                }

                .registration_form{
                    width: 45%;
                    margin: 10px auto;
                }
                    .form_row{
                        margin-bottom: 12px;
                        width: 100%;
                        position: relative;
                    }
                        .form_input{
                            width: 100%;
                            font-size: 15px;
                            line-height: 2.9;
                            padding: 0 14px;
                            outline: none;
                            background-color: #FFF;
                            border: 1px solid #dedede;
                            border-radius: 5px !important;
                        }
                .password_box{
                    position: relative;
                }
                        .visibility_password_btn{
                            top: 50%;
                            right: 15px;
                            width: 36px;
                            height: 27px;
                            border: none;
                            cursor: pointer;
                            position: absolute;
                            margin-top: -14px;
                            background: url(../images/icon/hidden_icon.png) 50% 50% no-repeat;
                        }

                .recaptcha_div{
                    width: 100%;
                    height: 70px;
                    padding: 20px 10px;
                    margin-bottom: 20px;
                    background-color: #f9f9f9;
                    border: 1px solid lightgrey;
                    border-radius: 2px 1px 1px 2px;
                }
                .registration_btn{
                    color: #FFF;
                    width: 100%;
                    font-size: 16px;
                    line-height: 50px;
                    border-radius: 5px;                
                    text-align: center;
                    font-weight: 400;
                    border: none;
                    cursor: pointer;
                    letter-spacing: 0.7px;
                    background-color: #ff5c01;
                }


    /*-----------------------  ARTICLE  ---------------------*/
        .content_main_box{
            width: 80%;
            float: left;
        }


        .article_block{
            position: relative;
        }
            .article_block .aside_block,
            .recipe_single_block .aside_block,
            .recipe_single_block .aside_right_block{
                margin-top: 15px;
            }
            .article_figure{
                float: left;
                width: 49%;
                margin-right: 15px;
                margin-bottom: 30px;
            }

            .article_figure:nth-child(2n){
                margin-right: 0;
            }
                .article_figure .img_box{
                    width: 32%;
                    height: 128px;
                    margin-right: 15px;
                    margin-bottom: 10px;
                    position: relative;
                    display: inline-block;
                    -webkit-border-radius: 8px;
                            border-radius: 8px;
                }
                    .article_figure .img_box:hover{
                        -webkit-box-shadow: 0px 0px 10px #ff5c01;
                                box-shadow: 0px 0px 10px #ff5c01;
                    }
                    .article_figure .img_box img{
                        overflow: hidden;
                        -webkit-border-radius: 8px;
                                border-radius: 8px;
                    }
                .article_figcaption{
                    width: 64%;
                }
                    .article_date{line-height: 27px; margin-right: 15px;}
                    .article_figcaption .title4{margin-bottom: 15px; display: inline-block;}
                    .article_figcaption .title4:hover{
                        color: #FF5C01;
                       /* text-shadow: 1px 1px 1px #ff5c01;*/
                    }
                    .article_figcaption p{line-height: 24px; text-align: justify; margin-bottom: 10px;}
                    .article_figcaption+.aside_show_more{
                        margin-right: 50px;
                    }


                .single_article{}
                    .single_article .img_box{
                        width: 40%;
                        height: auto;
                        margin-right: 25px;
                        margin-bottom: 15px;
                        -webkit-border-radius: 8px;
                            border-radius: 8px;
                    }
                        .single_article .img_box img{
                            width: 100%;
                            height: 100%;
                            -webkit-border-radius: 8px;
                            border-radius: 8px;
                        }
                        .single_article .title4{
                            color: #FF5C01;
                        }
                        .single_article p{
                            line-height: 2.2;
                        }

                .article_like{
                    position: absolute;
                    right: 0;
                    top: 0;
                    opacity: .8;
                    -webkit-border-radius: 8px;
                            border-radius: 8px;
                }
                    .article_like:hover{
                        opacity: 1;
                        background-color: #FF5C01;
                    }
    
    
    /*-----------------------  SINGLE RECIPE CREATE  ---------------------*/
        .recipe_single_block{
            margin: 0;
            padding: 40px 22px;
            position: relative;
        }
        .single_recipe{}
                .resipe_create_aside{
                    width: 20%;
                    height: 100%;
                }
                .create_btn{
                    left: -1px;
                    top: 42px;
                    width: 30px;
                    height: 30px;
                    display: none;
                    cursor: pointer;
                    position: absolute;
                    
                    -webkit-border-radius: 0 5px 5px 0;
                            border-radius: 0 5px 5px 0;
                    
                    background: #6d6d6d url(../images/icon/controller.png) 50% 50% no-repeat;
                }
                .create_btn:hover{
                    background-color: #ff5c01;
                }
                .ingredient_input{
                    width: 100%;
                    min-height: 42px;
                    outline: none;
                }
                    .ingredient_option{
                        line-height: 1.8;
                        background-color: #FFF;
                        border-bottom: 1px solid #fff;
                    }
                    .ingredient_option:hover{
                        background-color: #ff5c01;
                    }

                .form_recipe_left{
                    width: 57%;
                    float: left;
                    margin-right: 10px;
                    padding-right: 10px;
                    border-right: 1px solid #dedede;
                }
                .form_recipe_right{
                    width: 41%;
                    float: right;
                }
                    .ingredients_input_box{
                        margin-bottom: 30px;
                    }
                    .select_box{
                        margin-bottom: 30px;
                    }
                        .number_input{
                            outline: none;
                            padding: 0 0 0 14px;
                        }
                        .form_textarea{
                            width: 100%;
                            resize: none;
                            font-size: 15px;
                            min-height: 213px;
                            padding: 10px 15px;
                            line-height: 1.2;
                            background-color: #FFF;
                            border: 1px solid #dedede;
                            border-radius: 5px !important;
                            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                        }

                        .ingredients{
                            line-height: 2;
                            background: #fff url(../images/icon/list.png) 50% 50% no-repeat;
                        }
                        #recipe_name{
                            letter-spacing: 1px;
                        }
                        textarea{
                            overflow: auto;
                            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                        }

                /*------  ingredient autocomplete  ------*/
                    .recipe_ingredient_input{
                        width: 54%;
                        float: left;
                        margin-right: 10px;
                        position: relative;
                    }
                        .recipe_ingredient_input a{
                            width: 100%;
                            padding: 0 14px;
                            height: 45%;
                            background-color: #FFF;
                            border: 1px solid #dedede;
                            position: relative;
                        }
                        .recipe_ingredient_input .chosen-container{
                            border: none;
                            width: 100%  !important;
                        }
                            .recipe_ingredient_input .chosen-container .chosen-drop{
                                top: 49px;
                                width: 185px;
                            }
                            .recipe_ingredient_input .chosen-container-active.chosen-with-drop .chosen-drop{
                                left: 0;
                            }
                    .ingredient_count{
                        width: 75px;
                        margin-right: 10px;
                        padding: 0 0 0 14px;
                    }
                    .ingredient_measure{
                        width: 105px;
                        float: right;
                    }


                .single_recipe_step_block{
                    margin-top: 30px;
                }
                .add_step{
                    font-size: 16px;
                    line-height: 20px;
                    color: #FF5C01;
                    padding: 6px 5px 6px 40px;
                    background: url(../images/icon/plus.png) 0% 50% no-repeat;
                }
                .add_step:hover{
                    font-size: 18px;
                }
                .recipe_step_box{
                    padding-bottom: 5px;
                    border-bottom: 1px solid #dedede;
                }
                .recipe_step_box:last-child{
                    border-bottom: none;
                }

                .recipe_step_box{
                    margin-bottom: 20px;
                }
                    .add_decription_step{
                        resize: none;
                        line-height: 1.2;
                        font-size: 15px;
                        height: 128px;
                        width: calc(100% - 175px);
                        background-color: #FFF;
                        border: 1px solid #dedede;
                        border-radius: 5px !important;
                        padding: 10px 15px;
                    }

            .add_main_photo{
                margin-bottom: 12px;
                border: 1px dashed #dedede;
                border-radius: 5px !important;
                background: #FFF url(../images/icon/picture_big.png) 50% 50% no-repeat;
            }

            .add_min_photo {
                width: 170px;
                height: 128px;
                margin-right: 5px;
                border: 1px dashed #dedede;
                border-radius: 5px !important;
                background: #fff url(../images/icon/picture_big.png) 50% 30% no-repeat;
            }
                .add_min_photo span{
                    display: none;
                }
                .dropzone.add_min_photo .dz-preview .dz-image{
                    width: 147px;
                    height: 105px;
                }

                .category_select{
                    width: 100%;
                }

                    .jq-selectbox__select:hover .jq-selectbox__trigger, 
                    .jq-selectbox__select:active .jq-selectbox__trigger{
                        border-left: 1px solid #ff5c01;
                    }


    /*-----------------------  SINGLE RECIPE  ---------------------*/
        .recipe_description{
            margin-bottom: 20px;
        }
            .recipe_img_box{
                width: 25%;
                margin-right: 20px;
                margin-bottom: 10px;
            }
                .recipe_img_box img{
                    width: 100%;
                    height: auto;
                    -webkit-border-radius: 8px;
                            border-radius: 8px;
                    box-shadow: 0.5px 1px 8px rgba(0, 1, 1, 0.2);
                }

            .recipe_btn_box{
                width: 19%;
                margin-right: 20px;
            }
                .coock_time{
                    line-height: 2.1;
                    padding-left: 30px;
                    background: url(../images/icon/clock.png) 0% 50% no-repeat;                    
                }
                .portions{
                    line-height: 2.1;
                    padding-left: 30px;
                    background: url(../images/icon/portion.png) 0% 50% no-repeat;                    
                }
                .calories{
                    line-height: 2.1;
                    padding-left: 30px;
                    background: url(../images/icon/calories.png) 0% 50% no-repeat;                    
                }
                .recipe_add{
                    line-height: 2.1;
                    padding-left: 30px;
                    background: url(../images/icon/add.png) 0% 50% no-repeat; 
                }
                .recipe_add:hover{
                    background: url(../images/icon/add_h.png) 0% 50% no-repeat; 
                }
                .recipe_comment{
                    line-height: 2.1;
                    padding-left: 30px;
                    background: url(../images/icon/comment.png) 0% 50% no-repeat; 
                }
                .recipe_comment:hover{
                    background: url(../images/icon/comment_h.png) 0% 50% no-repeat; 
                }

            /*-----------  FULL PAGINATION BOX  ---------*/
                .full_pagin_list{
                    text-align: center;
                    margin-bottom: 20px;
                    background-color: #FFF;
                    padding: 50px 0 10px 0;
                    box-shadow: 0.5px 1px 8px rgba(0, 1, 1, 0.2);
                }
                    .pagin_recipe_item{
                        display: inline-block;
                    }
                        .pagin_recipe_item a{
                            color: #666;
                            width: 100%;
                            padding: 35px 25px 10px;
                        }
                        .pagin_recipe_item:hover a{
                            color: #ff5c01;
                        }

                        .pagin_recipe_item:first-child a{
                            background: url(../images/icon/comment_big.png) 50% 0 no-repeat;
                        }
                        .pagin_recipe_item:nth-child(2) a{
                            background: url(../images/icon/add_m.png) 50% 0 no-repeat;
                        }
                        .pagin_recipe_item:nth-child(3) a{
                            background: url(../images/icon/print.png) 50% 0 no-repeat;
                        }
                        .pagin_recipe_item:last-child a{
                            background: url(../images/icon/mail.png) 50% 0 no-repeat;
                        }
                        
                        .pagin_recipe_item:first-child:hover a{
                            background: url(../images/icon/comment_big_h.png) 50% 0 no-repeat;
                        }
                        .pagin_recipe_item:nth-child(2):hover a{
                            background: url(../images/icon/add_m_h.png) 50% 0 no-repeat;
                        }
                        .pagin_recipe_item:nth-child(3):hover a{
                            background: url(../images/icon/print_h.png) 50% 0 no-repeat;
                        }
                        .pagin_recipe_item:last-child:hover a{
                            background: url(../images/icon/mail_h.png) 50% 0 no-repeat;
                        }



            .recipe_info_box{
                width: 50%;
                text-align: justify;
            }
                .recipe_info_box p{}

        .ingredients_box{
            margin-bottom: 30px;
        }
            .ingredients_list{}
                .ingredients_list li{
                    color: #666;
                    line-height: 2;
                    font-size: 16px;
                    
                }
                    .ingredients_list li a{
                        padding-left: 40px;
                        -webkit-transition: all 0.4s ease;
                        -moz-transition: all 0.4s ease;
                        -o-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                        background: url(../images/icon/harvest.png) 0% 50% no-repeat;
                    }
                    .ingredients_list li a:hover{
                        margin-left: 15px;
                        -webkit-transition: all 0.4s ease;
                        -moz-transition: all 0.4s ease;
                        -o-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }

        .step_box{
            margin-bottom: 30px;
        }
            .step_img_box{
                width: 25%;
                margin-right: 20px;
                -webkit-border-radius: 8px;
                        border-radius: 8px;
                box-shadow: 0.5px 1px 8px rgba(0, 1, 1, 0.2);
            }
                .fb_link{
                    width: 100%;
                    height: auto;
                    display: block;
                    
                }
                    .fb_link img{
                        width: 100%;
                        height: 140px;
                        -webkit-border-radius: 8px;
                                border-radius: 8px;
                    }
            .step_info{
                width: 68%;
                line-height: 1.7;
            }

    
        /*profile*/    
            .add_photo_span{
                position: absolute;
                left: 37px;
                top: 10px;
            }

    
    /*-----------------------  CREATE (ASIDE)  ---------------------*/
        .create_aside{
            width: 17%;
            float: left;
            padding: 20px 12px;
            background-color: #FFF;
            margin: 15px 15px 15px 0;
            -webkit-border-radius: 8px;
                    border-radius: 8px;
            /*box-shadow: 0.5px 1px 8px rgba(0, 1, 1, 0.2);*/
            border: 1px solid #dedede;
            min-height: 500px;
            
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
            .create_aside ul{
                padding-left: 20px;
                margin-bottom: 15px;
            }
                .create_aside_item{
                    
                }
                    .create_aside_item .title6{
                        margin-left: -20px;
                        margin-bottom: 3px;
                    }
                    .create_aside_item a{
                        width: 100%;
                    }
        .create_content{
            width: 81%;
            float: left;
        }
        .active{
            color: #ff5c01;
        }


        /*---------------   COMMENT BLOCK   -------------*/
            .comments_block{
                width: 62%;
                margin-top: 40px;
                display: block;
            }
                .comment_figure{
                    margin-bottom: 15px;
                }
                    .comment_figure .img_box{
                        width: 10%;
                        float: left;
                        height: 90px;
                        margin-right: 10px;
                        border-radius: 8px;
                        background-color: #fff;
                        box-shadow: 0.5px 0.9px 8px rgba(0, 1, 1, 0.14);
                    }
                        .comment_figure .img_box img{
                            height: 100%;
                        }

                    .comment_figcaption{
                        width: 88.5%;
                        float: left;
                        padding: 5px;
                        border-radius: 8px;
                        background-color: #FFF;
                        box-shadow: 0.5px 0.9px 8px rgba(0, 1, 1, 0.14);
                    }
                        .comment_figcaption .title6{
                            color: #ff5c01;
                        }
                
                .comment_form{
                    margin-bottom: 20px;
                }
                        .comment_textarea{
                            width: 100%;
                            height: 90px;
                            resize: none;
                            font-size: 13px;
                            line-height: 1.2;
                            border-radius: 5px;
                            padding: 10px 15px;
                            background-color: #FFF;
                            border: 1px solid #dedede;
                            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                            
                            overflow: auto;
                        }
                        .form_btn{
                            color: #FFF;
                            border: none;
                            letter-spacing: 1px;
                            padding: 7px 20px;
                            cursor: pointer;
                            background-color: #6d6d6d;
                            -webkit-border-radius: 5px;
                                    border-radius: 5px;
                                    -webkit-transition: all 0.4s ease;
                            -moz-transition: all 0.4s ease;
                            -o-transition: all 0.4s ease;
                            transition: all 0.4s ease;
                        }
                        .form_btn:hover{
                            background-color: #ff5c01;
                            -webkit-transition: all 0.4s ease;
                            -moz-transition: all 0.4s ease;
                            -o-transition: all 0.4s ease;
                            transition: all 0.4s ease;
                        }

                
                .plagination_list{
                    text-align: center; 
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                    .plagination_list_item{
                        display: inline-block;
                        margin: 0 0;
                    }
                        .plagination_list_item .plagination_link{
                            padding: 0 5px; 
                        }
                        .plagination_link{
                            color: #6d6d6d;
                            text-decoration: none;
                            font-size: 19px;
                            padding: 0 3px;
                            margin: 0 -1px; 
                        }
                        .plagination_link:hover{
                            color: #ff5c01;
                        }


                .comments_block .social_login_box{
                    width: 100%;
                }

        

        /*------------------   USER PAGE   ----------------*/
            .avatar_big_box{
                width: 200px;
                height: 200px;
                display: inline-block;
                margin: 0 20px 20px 0;
                background-color: #FFF;
                border: 1px solid #dedede;
                -webkit-border-radius: 5px;
                        border-radius: 5px;
            }
                .avatar_big_box img{
                    width: 100%;
                    height: 100%;
                }
            .profile_posts_block{
                margin-bottom: 40px;
            }
                .see_all_link{
                    color: #FFF;
                    width: 145px;
                    display: block;
                    font-size: 15px;
                    text-align: center;
                    margin: 20px auto 30px;
                    padding: 7px 36px 7px 12px;
                    -webkit-border-radius: 5px;
                            border-radius: 5px;
                    background: #6d6d6d url(../images/icon/arrow_down.png) 92% 57% no-repeat;
                }
                .see_all_link:hover{
                    background-color: #ff5c01;
                }

    
    /*-----------------------  CATEGORY PAGE  -------------------*/
        .category_page{}
            .category_item_box{
                float: left;
                width: 240px;
                padding: 5px;
                text-align: center;
                margin: 5px 10px 5px;
            }
            .category_item_box .img_box{
                margin-bottom: 15px;
                height: 45px;
                background-size: 15%;
            }
            .category_item_box figcaption{
                
            }
                .category_item_box .category_menu_link{
                    display: inline-block;
                    text-align: center;
                    width: 100%;
                    padding-left: 0;
                }

        .my_recipes_block .left_box{
            width: 38%;
        }

/*=====================> Paragraphs ========================*/

p {margin-bottom:18px; line-height: 1.7;}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom: 75px;}

.mt10{margin-top: 10px;}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: px;
  line-height: ;
}

.title2{
    color: #6d6d6d;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 20px;
}

.title3{
    color: #6d6d6d;
    line-height: 1;
    font-size: 28px;
    font-weight: 400;
}

.title4{
    line-height: 1;
    color: #202020;
    font-size: 24px;
    font-weight: 400;
}

.title5{
    line-height: 1;
    color: #6d6d6d;
    font-size: 18px;
    font-weight: 400;
}

.title6{
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
}


/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

 /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
    /*===  input start  ===*/
    input.invalid,
    textarea.invalid,
    .jq-selectbox.invalid .jq-selectbox__select{
        border: 2px solid red;    
    }

    input::-webkit-input-placeholder{   
        transition: all 0.5s ease;
        font-family: 'Open Sans', sans-serif;
        color: #828282;
        font-size: 15px;
        letter-spacing: 1px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    input::-moz-placeholder{   
        transition: all 0.5s ease;
        font-family: 'Open Sans', sans-serif;
        color: #828282;
        font-size: 15px;
        letter-spacing: 1px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    input:-moz-placeholder{   
        transition: all 0.5s ease;
        font-family: 'Open Sans', sans-serif;
        color: #828282;
        font-size: 15px;
        letter-spacing: 1px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    input:-ms-input-placeholder{ 
        transition: all 0.5s ease;
        font-family: 'Open Sans', sans-serif;
        color: #828282;
        font-size: 15px;
        letter-spacing: 1px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    input:focus::-webkit-input-placeholder {
        transition: all 0.5s ease;
        opacity: 0;
    }
    input:focus::-moz-placeholder{
        transition: all 0.5s ease;
        opacity: 0;
    }
    input:focus:-moz-placeholder{
        transition: all 0.5s ease;
        opacity: 0;
    }
    input:focus:-ms-input-placeholder{
        transition: all 0.5s ease;
        opacity: 0;
    }
    /*===  input end    ===*/
    /*===  textarea start  ===*/
    textarea::-webkit-input-placeholder{
        transition: all 0.5s ease;
        font-family: 'Open Sans', sans-serif;
        color: #828282;
        font-size: 15px;
        letter-spacing: 1px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    textarea::-moz-placeholder{
        transition: all 0.5s ease;
        font-family: 'Open Sans', sans-serif;
        color: #828282;
        font-size: 15px;
        letter-spacing: 1px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    textarea:-moz-placeholder{
        transition: all 0.5s ease;
        font-family: 'Open Sans', sans-serif;
        color: #828282;
        font-size: 15px;
        letter-spacing: 1px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    textarea:-ms-input-placeholder{
        transition: all 0.5s ease;
        font-family: 'Open Sans', sans-serif;
        color: #828282;
        font-size: 15px;
        letter-spacing: 1px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    textarea:focus::-webkit-input-placeholder{
        transition: all 0.5s ease;
        opacity: 0;
    }
    textarea:focus::-moz-placeholder{
        transition: all 0.5s ease;
        opacity: 0;
    }
    textarea:focus:-moz-placeholder{
        transition: all 0.5s ease;
        opacity: 0;
    }
    textarea:focus:-ms-input-placeholder{
        transition: all 0.5s ease;
        opacity: 0;
    }
    /*===  textarea end    ===*/

/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.msg_field{
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
footer {
    /*padding:22px 0 26px;*/
    background-color: #FFF;
}
    .footer_box{
        box-sizing: border-box;
        width: 1738px;
        margin: 0 auto;
        padding: 25px 10px;
    }
        .social_block,
        .contacts_block,
        .registr_block,
        .copyrights_block{
            float: left;
        }

        .social_block{
            width: 14.67%;
            margin-right: 9.26%;
        }
            .social_box{
                margin: 0 -5px;
            }
                .social_box a,
                .soc_share a{
                    float: left;
                    width: 34px;
                    height: 34px;
                    margin: 4px 5px;
                    border-radius: 3px 4px 4px 3px;
                    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
                }
                .fb{background: #3b5998 url(../images/icon/fb.png) 50% 50% no-repeat;}
                .vk{background: #567aa1 url(../images/icon/vk.png) 50% 50% no-repeat;}
                .ok{background: #f48103 url(../images/icon/ok.png) 50% 50% no-repeat;}
                .mw{background: #2165ae url(../images/icon/mw.png) 50% 50% no-repeat;}
                .rss{background: #e67329 url(../images/icon/rss.png) 50% 50% no-repeat;}
                .yt{background: #b00 url(../images/icon/yt.png) 50% 50% no-repeat;}
                .pnt{background: #cb2027 url(../images/icon/pnt.png) 50% 50% no-repeat;}
                .ml{background: #007bb6 url(../images/icon/ml.png) 50% 50% no-repeat;}
                .inst{background: #517fa4 url(../images/icon/inst.png) 50% 50% no-repeat;}
                .gl{background: #dd4b39 url(../images/icon/gl.png) 50% 50% no-repeat;}
                .tmb{background: #32506d url(../images/icon/tmb.png) 50% 50% no-repeat;}
                .tw{background: #18b3ee url(../images/icon/tw.png) 50% 50% no-repeat;}

                /*.fb:hover{background-color: #4B67A0;}
                .vk:hover{background-color: #6686A9;}
                .ok:hover{background-color: #F48C1B;}
                .mw:hover{background-color: #3673B5;}
                .rss:hover{background-color: #E8803D;}
                .yt:hover{background-color: #C11818;}
                .pnt:hover{background-color: #CF353B;}
                .inst:hover{background-color: #618BAC;}
                .gl:hover{background-color: #E05C4C;}
                .tmb:hover{background-color: #45607A;}
                .tw:hover{background-color: #2EBAEF;}*/
                .social_box a:hover{
                    opacity: 0.85;
                }

        .contacts_block{
            width: 25.2%;
            margin-right: 9.2%;
        }
            .footer_list{
                float: left;
                width: 145px;
                display: inline-block;
            }
                .footer_list li{
                    font-size: 14px;
                    line-height: 27px;
                }
                    .footer_list li a:hover{
                        text-decoration: underline;
                    }
        .registr_block{
            width: 8.28%;
            margin-right: 15.2%;
        }
        .copyrights_block{
            width: 18.18%;
        }
            .footer_title{
                line-height: 1;
                color: #6d6d6d;
                font-size: 16px;
                font-weight: 400;
                padding-bottom: 7px;
                margin-bottom: 10px;
                border-bottom: 1px solid #bebebe;
            }


/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  /*display: none;*/
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*responsive block*/


/*-------------------  START:  ADMIN PAGE  ----------------*/

    .admin_form{}
        .admin_form .form_row{}
            .admin_form label{
                width: 300px;
                line-height: 2;
                text-align: right;
                margin-right: 20px;
                display: inline-block;
            }

            .admin_form input,
            .admin_form select,
            .admin_form textarea{
                font-size: 11px;
                line-height: 1.5;
                min-width: 45%;
                padding: 5px;
                color: #666;
                border: 1px solid #d6d6d6;
                background-color: #FFF;
                -webkit-border-radius: 5px;
                        border-radius: 5px;
            }

            .admin_form textarea{
                min-height: 170px;
            }

            .admin_form input[type="checkbox"]{
                padding: 2px;
                width: 20px !important;
                min-width: 20px !important;
                height: 20px !important;
                cursor: pointer;
            }
            .admin_form input[type="checkbox"]:checked{
                background: #ff5c01 url(../images/icon/checkbox-mark.png) 50% 50% no-repeat;
                -webkit-background-size: 80%;
                     -o-background-size: 80%;
                        background-size: 80%;
            }

            .admin_form input[type="radio"]{
                width: 15px !important;
                height: 15px !important;
                min-width: 15px !important;
                padding: 0;
                cursor: pointer;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
            }
            .admin_form input[type="radio"]:checked{
                background-color: #ff5c01;
                border: 3px solid #fff;
            }
            .admin_form span{
                line-height: 1.8;
            }
            .admin_form button{
                color: #FFF;
                cursor: pointer;
                padding: 7px 15px;
                text-transform: uppercase;
                -webkit-border-radius: 8px;
                        border-radius: 8px;
                border: 1px solid transparent;
            }

        .admin_title{
            padding: 10px;
            margin: 20px 0;
            text-align: center;
            background-color: #d6d6d6;
            text-transform: uppercase;
        }

        [data-bg="grey"]{
            background-color: #6d6d6d;
        }
        [data-bg="orange"]{
            background-color: #ff5c01;
        }

    /*------  table  -----*/
        .admin_table{margin-bottom: 50px; border: 1px solid #ff5c01;}

            .table_title_row{
                background-color: #ff5c01 !important;
                border-top: 1px solid #ff5c01;
                color: #fff;
                padding: 10px 0;
                font-size: 13px;
                font-weight: 500;
                text-align: left;
            }
            .table_row{
                position: relative;
                border-bottom: 1px solid #ff5c01;
            }
                .table_row div{
                    line-height: 1;
                    padding: 10px 0;
                }
                .table_title_row div,
                .table_row div{
                    float: left;
                }
                .admin_table .table_row:nth-child(2n+1){
                    background-color: rgba(255, 92, 1, 0.15);
                }
                .admin_table .table_title_row div:first-child,
                .admin_table .table_row div:first-child{width: 36px; text-align: center;}

                .admin_table .table_title_row div:nth-child(2),
                .admin_table .table_row div:nth-child(2){width: 45px; text-align: center;}

                .admin_table .table_title_row div:nth-child(3),
                .admin_table .table_row div:nth-child(3){width: 6%;}

                .admin_table .table_title_row div:nth-child(4),
                .admin_table .table_row div:nth-child(4){width: 18%;}

                .admin_table .table_title_row div:nth-child(5),
                .admin_table .table_title_row div:nth-child(6),
                .admin_table .table_title_row div:nth-child(7),
                .admin_table .table_title_row div:nth-child(8),
                .admin_table .table_row div:nth-child(5),
                .admin_table .table_row div:nth-child(6),
                .admin_table .table_row div:nth-child(7),
                .admin_table .table_row div:nth-child(8){width: 15.3%; padding-right: 5px;}

                .admin_table .table_title_row div:last-child,
                .admin_table .table_row div:last-child{width: 80px; max-height: 50px; text-align: center;}

                .admin_table .table_row div:last-child img{max-height: 50px;}

                .admin_table .table_row div:first-child,
                .admin_table .table_row div:nth-child(4){
                    line-height: 2;
                }
            /*.admin_table tr:first-child{
                background-color: #ff5c01 !important;
                border-top: 1px solid #ff5c01;
            }
            .admin_table tr{}
            .admin_table tr:nth-child(2n+1){
                background-color: #D6D6D6; 
            }
                .admin_table tr th{
                    color: #fff;
                    padding: 10px 0;
                    font-size: 12px;
                    font-weight: 500;
                    text-align: left;
                }
                .admin_table tr td{
                    line-height: 1;
                    padding: 10px 0;
                }
                .admin_table tr th:first-child,
                .admin_table tr td:first-child{width: 36px; text-align: center;}

                .admin_table tr th:nth-child(2),
                .admin_table tr td:nth-child(2){width: 70px; text-align: center;}

                .admin_table tr th:nth-child(3),
                .admin_table tr td:nth-child(3){width: 6%;}

                .admin_table tr th:nth-child(4),
                .admin_table tr td:nth-child(4){width: 18%;}

                .admin_table tr th:nth-child(5),
                .admin_table tr th:nth-child(6),
                .admin_table tr th:nth-child(7),
                .admin_table tr th:nth-child(8),
                .admin_table tr td:nth-child(5),
                .admin_table tr td:nth-child(6),
                .admin_table tr td:nth-child(7),
                .admin_table tr td:nth-child(8){width: 150px; padding-right: 5px;}

                .admin_table tr th:last-child,
                .admin_table tr td:last-child{width: 80px; max-height: 50px; text-align: center;}

                .admin_table tr td:last-child img{max-height: 50px;}

                .admin_table tr td:first-child,
                .admin_table tr td:nth-child(4){
                    line-height: 2;
                }*/

                .admin_table input{
                    min-width: 100%;
                }
                    .admin_table .edit_link{
                        padding: 5px 0;
                        display: inline-block;
                    }

                .activity_position{}
                    .activity_position input:first-child{background-color: rgba(244, 67, 54, 0.44);}
                    .activity_position input:nth-child(2){background-color: rgba(255, 193, 7, 0.44);}
                    .activity_position input:last-child{background-color: rgba(76, 175, 80, 0.44);}

                    .activity_position input:first-child:checked{background-color: #F44336;}
                    .activity_position input:nth-child(2):checked{background-color: #FFC107;}
                    .activity_position input:last-child:checked{background-color: #4CAF50;}

                .admin_textarea{
                    width: 100%;
                    height: 30px !important;
                    min-height: 25px !important ;
                    -ms-overflow-y: auto !important;
                        overflow-y: auto !important;
                }


/*-------------------  END:  ADMIN PAGE  ----------------*/